h1, p {
  font-family: Lato;
}

.CV {
  display: flex;
  flex-direction: column;

  .activite {
    text-transform: capitalize
  }
}

$color-footer-link : red;

@import "../bulma-0.7.5/bulma/bulma.sass";
@import './Identite/style.scss';
@import './Activites/style.scss';
@import './Links/style.scss';