.Identite{
  display: flex;
  flex-direction: row;

    .Identite__logo, .Identite__titre{
      align-self: center;
    }

   .Identite__civilite{
      flex-direction: column;
      margin-left: 5px;
      .Identite__civilite__nomprenom{
        font-weight: 800;
        text-transform: uppercase
      }

      .Identite__civilite__email{
        font-weight: 600;
      
      }
      .Identite__civilite__age{
        font-weight: 400;
      } 
  }
}